<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PortSelector</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="mx-5 my-5">
        <h1 class="text-center">Tucratch PortSelect</h1>
        <form method="post" action="/api/postport">
          <div class="container">
            <div class="row">
              <div class="col-md-4 px-2 py-2">
                <select name="port-selector" class="form-control">
                    {% for port in ports %}
                    <option value={{port}}>{{port}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-8 px-2 py-2">
                <input type="submit" value="select" class="btn btn-primary btn-lg btn-block">
              </div>
            </div>
          </div>
        </form>
        <div class="px-5">
          {{status}}
        </div>
      </div>
    </body>
</html>
